<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../stylesheets/edit.css" />
    <link href='https://fonts.googleapis.com/css?family=Permanent Marker' rel='stylesheet'>
    

    <script
      src="https://kit.fontawesome.com/fcf4fbd4be.js"
      crossorigin="anonymous"
    ></script>
    <title>Assignment 2</title>
  </head>
  <body>
    <div class="board">
      <div id="menu">
        <div id="drag-window">
            <div class='title'>Edit Attribute</div>
          </div>
        <div id="toggle-form" >
          <button class = "show-plus-btn" id ='plus-btn'>
            <i class="fas fa-plus" ></i>
          </button>
          <% rows.forEach(function(r) { %>
            <div id ="genderValue" value = "<%= r.gender %>" ></div>
                <div id ="typeValue" value = "<%= r.type %>" ></div>
          <div class="show-form" id='form'>
            
            <form class= "form-wrapper" action="/updateperson/<%= r.id %>" method="post">
              <div class="top-row">
                <div class="nameForm">
                
                  <label for="name">NAME: </label>
                
          <input type="text" name="name" value="<%= r.name %>" required/>
        
      </div>
      <div class='ageForm'>
                
                
                <label for="age">AGE: </label>
              
           
          <input type="number" name="age" min="1" max="150" value="<%= r.age %>" required/>
        
      </div>
      <div class="heightForm">
       
          <label for="height">Height: </label>
        
       
          <input  type="range" name="heightInput" min = "0" max = "250"   oninput="heightOutput.value = heightInput.value"/>
          <output name="heightOutput" id="heightOutput"><%= r.height %></output> cm
        
      </div>
          
      </div>
              
              <div class='genderForm'>
                
                  
                  <input type='radio' name='gender' id ="male" value = "male" checked>
                  <label for = "male">
                  <span><i class="fas fa-male"></i></span>
                </label>
                
               
                  <input type='radio' name='gender' id="female" value = "female">
               <label for="female">
                  <span><i class="fas fa-female"></i></span>
                </label>
                
                
              </div>
              <div class='typeForm'>
                <div class="four col">
                  <input type="radio" name="r1" id="r1" value="A"checked>
                  <label for="r1">
                    <h4>Type A</h4>
                  </label>
                </div>
                <div class="four col">
                  <input type="radio" name="r1" id="r2" value="B">
                  <label for="r2">
                    <h4>Type B</h4>
                  </label>
                </div>
                <div class="four col">
                  <input type="radio" name="r1" id="r3" value="Sociopath">
                  <label for="r3">
                    <h4>Sociopath</h4>
                  </label>
                </div>
                <div class="four col">
                  <input type="radio" name="r1" id="r4" value="Psychopath">
                  <label for="r4">
                    <h4>Psychopath</h4>
                  </label>
                </div>
                
              </div>
              <div class='footForm'>
              
              <button type="submit" id='create-btn'/>Save</button>
            </div>
            </form>
            <button  id='cancel-btn'>Cancel</label>
            <% }); %>
          </div>
        </div>
        
       
      </div>
    </div>

    <script src="../../edit.js"></script>
  </body>
</html>
